@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url('https://fonts.cdnfonts.com/css/ds-digital');
@import '../node_modules/@syncfusion/ej2-base/styles/material3.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material3.css';

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.form-control {
  display: block;
  width: 100%;
  color: #293240;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #3498db;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(52, 152, 219, 0.25);
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  z-index: 1000; /* Ensure sidebar is above content */
}

.nav-item,
.navbar {
  z-index: 1001; /* Ensure navbar is above content and sidebar */
}

@media screen and (max-width: 850px) {
  .sidebar {
    z-index: 10000000; /* Ensure sidebar is above everything on smaller screens */
  }
}

.component-transition {
  @apply duration-300;
}

.sidebar-transition {
  @apply duration-300;
}

/* Media query for mobile screens */
@media screen and (max-width: 1000px) {
  .sidebar-transition {
    transition: none; /* No transition for mobile screens */
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important; /* Adjust other components as needed */
}

.bg-hero-pattern {
  background-image: url("./assets/welcome-bg.svg");
}

.editor-wrapper {
  width: 100%;
  /* @apply shadow-md bg-white rounded-lg; */
}

.editor-container {
  width: 100%;
  @apply border border-gray-400 rounded;
  padding: 1rem;
  height: 400px;
  overflow: scroll;
}

.toolbar-grid {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 1fr 1fr;
}

button {
  margin-right: 8px;
  font-size: 1rem;
  padding: 10px;
  border: none;
  background: #fff;
  cursor: pointer;
}

.superFancyBlockquote {
  color: #999;
  background: #fff;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  border-left: 2px solid #999;
  padding-left: 10px;
}

.codeBlock {
  font-family: fira-code, monospace;
  font-size: inherit;
  background: #ffeff0;
  font-style: italic;
  word-wrap: normal;
  word-wrap: break-word;
  box-decoration-break: slice;
  padding: 0.3rem 2rem;
  border-radius: 0.2rem;
}

.leftAlign {
  text-align: left;
}
.rightAlign {
  text-align: right;
}
.centerAlign {
  text-align: center;
}
.justifyAlign {
  text-align: justify;
}

.transaction{
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-image: url(./assets/CDS_FULL-LOGO-O.png);
}